.navbar.dark {
  background-color: #1a202c; /* Tailwind's dark mode background */
  color: white;
}
  
.link {
  color: #6B46C1; /* Tailwind's color */
  &:hover {
    color: #6B46C1; /* Tailwind's hover variant */
  }
}
